<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
	<resultMap type="userCustomer" id="userCustomerMap">
		<id column="_id" property="id"/>
		<result column="_name" property="name"/>
		<result column="_sex" property="sex"/>
		<result column="_age" property="age"/>
	</resultMap>
	
	<sql id="selectUser">
		select * from user
	</sql>
	
	<select id="getAll" resultType="User">
		<include refid="selectUser"></include>
	</select>
	
	<select id="getUserById" parameterType="int" resultType="User">
<!-- 		select * from user where id = #{id} -->
		<include refid="selectUser"></include>
		where id = #{id}
	</select>
	
	<select id="getUserByName" parameterType="String" resultType="User">
		select * from user
		<where>
			<if test="_parameter!=''">
				and name like '%${value}%'
			</if>
		</where>
	</select>
	
	<select id="queryUserVo" parameterType="userQueryVo" resultMap="userCustomerMap">
		select id _id,name _name,age _age, sex _sex from user where name like '%${userCustomer.name}%'
		<if test="ids!=null">
			<foreach collection="ids" item="user_id" open=" and id in(" close=")" separator=",">
				#{user_id}
			</foreach>
		</if>
	</select>
	
	<update id="updateUser" parameterType="User">
			update user set name=#{name},age=#{age} where id = #{id}
	</update>
	
	<insert id="addUser" parameterType="User">
		<selectKey keyProperty="id" order="AFTER" resultType="int">
			select LAST_INSERT_ID()
		</selectKey>
		insert into user(name,sex,age) values(#{name},#{sex},#{age})
	</insert>
</mapper>